<p>saludador works hola mundo!</p>

<div class="container-fuid">
    <div class="row">
        <div class="col-md-6">
            Hola
        </div>
        <div class="col-md-6">
            Mundo..
        </div>
    </div>
</div>